<div class="row">
    <div class="col-md-6 col-md-offset-3 white">
        <h2 class="text-center white">The Mission</h2>
        <p>Here at Project Novella, we wanted to give Authors a safe, positive space to write and edit their current projects while keeping their readers updated with new content, at their own pace. Imagine writing
        books and short stories in blog format, for free. Push yourself to write a chapter a week and keep your readers hungering for more like they are watching their favorite television series. Why keep your readers waiting
        for months or even years for a new book release when you can give them a little at a time? Maybe you just have a story you want to tell and want a place to tell it, pressure free and have the option to allow readers 
        to give you positive, constructive feedback via an anonymous email or have a place to connect with an artist or publisher.</p>
        <h3>Authors</h3>
            <ul>
                <li>Manage your current projects through your easy to use Author user interface.</li>
                <li>See how often your projects are getting viewed.</li>
                <li>Earn points from your readers for your content and see where you stand on the Author Leaderboard.</li>
            </ul>
        </br>
        <h3>Readers</h3>
            <ul>
                <li>Keep track of what you've read and manage your favorites in our Reader user interface.</li>
                <li>Bookmark projects you are reading through to save your place.</li>
                <li>Earn commendation points to spend by submitting praise and friendly critique to your favorite Authors via an anonymous email.</li>
            </ul>
        </br>
        <h3>Artists, Editors and Publishers</h3>
            <ul>
                <li>See what Authors are getting the most views and positive feedback.</li>
                <li>Reach out and connect to Authors through our Classified Ads section to do business.</li>
            </ul>
    </div>
</div>